.App {
  text-align: center;
  padding: 0 200px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  padding: 5px 15px;
  border: 1px solid orange;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: orange;
  color: #fff;
  transition: .2s;
}

input {
  background-color: transparent;
  border: 1px solid lightblue;
  border-radius: 4px;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.form {
  margin-bottom: 30px;
}

.form__input {
  padding: 10px;
}

input:focus {
  border: 1px solid indigo;
  outline: 1px solid indigo;
}

.form__btn {
  margin-left: 30px;
}

.tasksList {
  margin-bottom: 30px;  
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border: 1px solid lightblue;
}

.task:hover {
  border: 1px solid olivedrab ;
  border-radius: 4px;
  transition: .2s;
}

.task + .task {
  margin-top: 20px;
}

.task__text {
  width: 100%;
  padding: 20px;
}

.task__text-input {
  width: 100%;
  padding: 10px;
}

.filter__btn + .filter__btn {
  margin-left: 20px;
}