.App {
  text-align: center;
  padding: 0 200px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  background-color: transparent;
  border: none;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
.form {
  margin-bottom: 20px;
}

.tasksList {

}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border: 1px solid lightblue;
}

.task + .task {
  margin-top: 20px;
}

.form__input {
  border: 1px solid lightblue;
}

.task__text {
  width: 100%;
  padding: 20px;
}

.task__text-input {
  width: 100%;
}